<div class="large-12">
  <h2>Submit a Question!</h2>

  <%= form_for @question do |f| %>
    <%= f.label :body %>
    <%= f.text_area :body %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <br>
    <%= f.submit "Submit Question", class: 'button round' %>
  <%- end -%>
  <%=link_to "GO BACK", questions_path%>
</div>
