<div class="large-9 show-page">
<h4><%=@question.body%></h4>
<h6 class="subheader">Created at: <%=@question.created_at%> -- Updated at: <%=@question.updated_at%></h6>

<%- unless @question.description.nil? -%>
<p>Details: <%=@question.description%></p>
<%- end -%>



<%- unless @answers == [] || @answers.nil? -%>
  <h4>Answers:</h4>
  <ol>
  <%- @answers.each do |answer| -%>
    <li><%=answer.description%></li>
  <%- end -%>
</ol>
<%- end -%>
<h4>Submit an answer!</h4>
<%= form_for [@question, @answer] do |f| %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br>
  <%= f.submit "Submit Answer", class: 'button round' %>
<%- end -%>
<br>
<%=link_to "GO BACK", questions_path%>
</div>
<%=link_to "EDIT QUESTION", edit_question_path(@question), method: :get, class: 'button success round float right large-2'%>
